In [7]:
import pandas as pd
import sys

In [8]:
input_file_path = 'suppliers_data/greenvalley_aurilis_adjusted.csv'

In [9]:
my_csv_path = sys.path[0].replace('tutorials',input_file_path)

In [10]:
df = pd.read_csv(my_csv_path, sep=',')

In [11]:
df.head()

,Marca,Vettura,Porte,Anno,Unnamed: 4,Tipo Tetto,TettoVetro,KIT,Componibili PIEDE,TRAVERSE Acc,...,Preassemblate E.O. SW Acc,Alu.1,Quick Acc,Alu.2,FREE LINE,Unnamed: 16,INITIAL,EASY ONE,EVO,Porta Bici Post.
0,Abarth,Abarth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abarth,500,3,2007.0,NaN,Tetto nudo,SI,281.0,500,513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,67.0,NO
2,Abarth,Punto,3,2005.0,2014.0,Tetto nudo,SI,251.0,500,507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,56.0,NO
3,Alfa Romeo,Alfa Romeo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alfa Romeo,146,4,1995.0,2001.0,Tetto nudo,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,NaN,NO

In [15]:
df['Unnamed: 4']

0          NaN
1          NaN
2       2014.0
3          NaN
4       2001.0
         ...
1196       NaN
1197    2016.0
1198    2014.0
1199       NaN
1200       NaN
Name: Unnamed: 4, Length: 1201, dtype: float64

### Datetime formatting

1. Trasforma Anno e Unnamed:4 in integer
2. Trasforma Anno e Unnamed:4 in stringe
3. Unisci Unnamed:4 ad Anno, e assieme con '-' a separare le stringhe
4. Cancella la colonna Unnamed:4

In [13]:
df['Anno']

0          NaN
1       2007.0
2       2005.0
3          NaN
4       1995.0
         ...
1196    2017.0
1197    2007.0
1198    2002.0
1199    2015.0
1200    2015.0
Name: Anno, Length: 1201, dtype: float64