In [1]:
import pandas as pd
import sys

In [15]:
input_file_path = 'suppliers_data/yakima_adjusted.csv'

In [16]:
my_csv_path = sys.path[0].replace('tutorials',input_file_path)

In [17]:
df = pd.read_csv(my_csv_path, sep=',')

In [18]:
df.head()

,Marca,Modello,Anno,Tipo,KIT-W-Kit,FLUSHBAR Argento,FLUSHBAR MIX Argento \nW-Flush,THRUBAR Argento W-Through,RAILBAR Argento W-RailBar,RAILBAR MIX Argento W-RailBarMix,FLUSHBAR Nere WB-Flush,FLUSHBAR MIX Nere WB-FlushMix,THRUBAR Nere WB-Through,RAILBAR Nere WB-RailBar,RAILBAR MIX nere WB-RailBarMix,Descrizione tetto
0,Alfa Romeo,146,12/94>12/00,Tetto nudo,YK066W,NaN,NaN,Y8050187,NaN,NaN,NaN,NaN,Y8050227,NaN,NaN,tetto standard
1,Alfa Romeo,155,01/92>12/97,Tetto nudo,YK066W,NaN,NaN,Y8050187,NaN,NaN,NaN,NaN,Y8050227,NaN,NaN,tetto standard
2,Alfa Romeo,159 Sportwagon - railing,03/06>09/13,Barre lungitudinali,YK328W,Y8050181,NaN,NaN,NaN,Y8050210,Y8050221,NaN,NaN,NaN,Y8050247,railing standard
3,Alfa Romeo,Giulia (anche tetto vetro),06/16>,Tetto nudo,YK1030W,NaN,Y8050194,Y8050188,NaN,NaN,NaN,Y8050233,Y8050228,NaN,NaN,tetto standard
4,Alfa Romeo,Giulietta (anche tettuccio),04/10>,Tetto nudo,YK590W,Y8050179,NaN,Y8050187,NaN,NaN,Y8050219,NaN,Y8050227,NaN,NaN,tetto standard

### Datetime formatting

In [21]:
df['Anno'].head()

0    12/94>12/00
1    01/92>12/97
2    03/06>09/13
3         06/16>
4         04/10>
Name: Anno, dtype: object

In [23]:
df_adjusted_dates = df['Anno'].copy()

for i in range(len(df_adjusted_dates)):
    list_of_dates = df_adjusted_dates[i].split('>')

    for j in range(len(list_of_dates)):
        if len(list_of_dates[j])>1: # if date exist
            list_of_dates[j]=list_of_dates[j][3:5] # take only year number
            if list_of_dates[j][0] in ('6789'): # 1999 or less  # from 1960 to 1999
                list_of_dates[j]='19'+list_of_dates[j] # ex. 90 into 1990
            else:                        # 2000 or more
                list_of_dates[j]='20'+list_of_dates[j] # ex. 06 into 2006

    df_adjusted_dates[i]='-'.join(list_of_dates)

df['Anno'] = df_adjusted_dates

In [24]:
df['Anno'].head()

0    1994-2000
1    1992-1997
2    2006-2013
3        2016-
4        2010-
Name: Anno, dtype: object